## Session 17 (pandas part 7)

### Strings

In [1]:
import pandas as pd

In [22]:
df = pd.DataFrame({'name': ['Reza', 'Kourosh', 'sahar', 'Rahman'], 
                   'age': [25, 33, 14, 51]})
df

      name  age
0     Reza   25
1  Kourosh   33
2    sahar   14
3   Rahman   51

In [23]:
df['name']

0       Reza
1    Kourosh
2      sahar
3     Rahman
Name: name, dtype: object

In [24]:
type(df['name'])

pandas.core.series.Series

In [25]:
df['name'].str.lower()

0       reza
1    kourosh
2      sahar
3     rahman
Name: name, dtype: object

In [26]:
df['uname'] = df['name'].str.upper()
df

      name  age    uname
0     Reza   25     REZA
1  Kourosh   33  KOUROSH
2    sahar   14    SAHAR
3   Rahman   51   RAHMAN

In [27]:
df['name'].str.len()

0    4
1    7
2    5
3    6
Name: name, dtype: int64

In [28]:
df['name'].str.startswith('R')

0     True
1    False
2    False
3     True
Name: name, dtype: bool

In [29]:
df['name'].str[:3]

0    Rez
1    Kou
2    sah
3    Rah
Name: name, dtype: object

### regular expressions

In [30]:
df['name'].str.match('^R[a-zA-Z]*$')

0     True
1    False
2    False
3     True
Name: name, dtype: bool

In [31]:
df

      name  age    uname
0     Reza   25     REZA
1  Kourosh   33  KOUROSH
2    sahar   14    SAHAR
3   Rahman   51   RAHMAN

In [32]:
df['name'].str.match('^[A-Z][a-z]*$')

0     True
1     True
2    False
3     True
Name: name, dtype: bool

In [34]:
df = pd.DataFrame({'age': [25, 33, 14, 51],
                   'test': ['My name is: Reza', 'My name is: Kourosh',
                            'My name is: Sahar', 'My name is: Rahman',]})
df

   age                 test
0   25     My name is: Reza
1   33  My name is: Kourosh
2   14    My name is: Sahar
3   51   My name is: Rahman

In [40]:
df['test'].str.extract('^My name is: ([A-Z][a-z]*)$')

         0
0     Reza
1  Kourosh
2    Sahar
3   Rahman

In [41]:
df['test'].str[12:] # you may say we can easily do this, but it's not always that easy

0       Reza
1    Kourosh
2      Sahar
3     Rahman
Name: test, dtype: object

In [42]:
# for example :
df = pd.DataFrame({'age': [25, 33, 14, 51],
                   'test': ['My name IS: Reza', 'My beautiful name is: Kourosh',
                            'My name : Sahar', 'My name is: Rahman',]})
df

   age                           test
0   25               My name IS: Reza
1   33  My beautiful name is: Kourosh
2   14                My name : Sahar
3   51             My name is: Rahman

In [44]:
df['test'].str[12:] # oops !

0                 Reza
1     name is: Kourosh
2                  har
3               Rahman
Name: test, dtype: object

In [45]:
# so it's wise to use a regular expression

In [49]:
df['test'].str.extract(': ([A-Z][a-z]*)')

         0
0     Reza
1  Kourosh
2    Sahar
3   Rahman

### Recipes dataset example

In [51]:
df = pd.read_json('recipeitems-latest.json', lines=True)
df

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
0,{'$oid': '5160756b96cc62079cc2db15'},Drop Biscuits and Sausage Gravy,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/dro...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276011104},PT30M,thepioneerwoman,12,2013-03-11,PT10M,"Late Saturday afternoon, after Marlboro Man ha...",NaN,NaN,NaN,NaN,NaN
1,{'$oid': '5160756d96cc62079cc2db16'},Hot Roast Beef Sandwiches,12 whole Dinner Rolls Or Small Sandwich Buns (...,http://thepioneerwoman.com/cooking/2013/03/hot...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276013902},PT20M,thepioneerwoman,12,2013-03-13,PT20M,"When I was growing up, I participated in my Ep...",NaN,NaN,NaN,NaN,NaN
2,{'$oid': '5160756f96cc6207a37ff777'},Morrocan Carrot and Chickpea Salad,Dressing:\n1 tablespoon cumin seeds\n1/3 cup /...,http://www.101cookbooks.com/archives/moroccan-...,http://www.101cookbooks.com/mt-static/images/f...,{'$date': 1365276015332},NaN,101cookbooks,NaN,2013-01-07,PT15M,A beauty of a carrot salad - tricked out with ...,NaN,NaN,NaN,NaN,NaN
3,{'$oid': '5160757096cc62079cc2db17'},Mixed Berry Shortcake,Biscuits\n3 cups All-purpose Flour\n2 Tablespo...,http://thepioneerwoman.com/cooking/2013/03/mix...,http://static.thepioneerwoman.com/cooking/file...,{'$date': 1365276016700},PT15M,thepioneerwoman,8,2013-03-18,PT15M,It's Monday! It's a brand new week! The birds ...,NaN,NaN,NaN,NaN,NaN
4,{'$oid': '5160757496cc6207a37ff778'},Pomegranate Yogurt Bowl,For each bowl: \na big dollop of Greek yogurt\...,http://www.101cookbooks.com/archives/pomegrana...,http://www.101cookbooks.com/mt-static/images/f...,{'$date': 1365276020318},NaN,101cookbooks,Serves 1.,2013-01-20,PT5M,A simple breakfast bowl made with Greek yogurt...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173273,{'$oid': '551c030e96cc6233c0d0dc3d'},The Easiest Homemade Vanilla Ice Cream,250 milliliters Cream\n395 grams Canned Sweete...,http://tastykitchen.com/recipes/desserts/the-e...,http://tastykitchen.com/recipes/wp-content/upl...,{'$date': 1427899150211},PT,tastykitchen,10,2015-04-01,PT10M,The easiest vanilla ice cream you will ever ma...,NaN,NaN,NaN,NaN,NaN
173274,{'$oid': '551c030f96cc6233c0d0dc3e'},Butterfinger Eggs with Vanilla,2 cups Candy Corn\n1 teaspoon Vanilla Extract\...,http://tastykitchen.com/recipes/holidays/butte...,http://tastykitchen.com/recipes/wp-content/upl...,{'$date': 1427899151232},PT5M,tastykitchen,24,2015-04-01,PT8H,Chocolate coated peanut butter eggs with a hin...,NaN,NaN,NaN,NaN,NaN
173275,{'$oid': '551c86b796cc626b1ab4d901'},The Best Homemade Taco Seasoning,1/4 cup ground cumin\n1/4 cup kosher salt\n2 t...,http://picky-palate.com/2015/04/01/the-best-ho...,http://picky-palate.com/wp-content/uploads/201...,{'$date': 1427932855918},NaN,pickypalate,Makes about 1 cup,2015-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173276,{'$oid': '551f29b696cc62227991d465'},The Ultimate Queso Bean Dip,Two 16 ounce cans Old El Paso Refried Beans\n4...,http://picky-palate.com/2015/04/03/the-ultimat...,http://picky-palate.com/wp-content/uploads/201...,{'$date': 1428105654508},NaN,pickypalate,8-10 Servings,2015-04-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173277,{'$oid': '551f29c696cc6222a4e0c0e4'},Maple-Sweetened Banana Muffins,⅓ cup melted coconut oil or extra-virgin olive...,http://cookieandkate.com/2015/healthy-banana-m...,http://cookieandkate.com/images/2015/04/mashed...,{'$date': 1428105670708},PT25M,cookieandkate,11 muffins,NaN,PT10M,"These whole wheat, maple-sweetened banana muff...",NaN,NaN,NaN,NaN,NaN

In [52]:
df['name']

0                Drop Biscuits and Sausage Gravy
1                      Hot Roast Beef Sandwiches
2             Morrocan Carrot and Chickpea Salad
3                          Mixed Berry Shortcake
4                        Pomegranate Yogurt Bowl
                           ...
173273    The Easiest Homemade Vanilla Ice Cream
173274            Butterfinger Eggs with Vanilla
173275          The Best Homemade Taco Seasoning
173276               The Ultimate Queso Bean Dip
173277            Maple-Sweetened Banana Muffins
Name: name, Length: 173278, dtype: object

In [54]:
df['name'].str.len() # length of each food

0         31
1         25
2         34
3         21
4         23
          ..
173273    38
173274    30
173275    32
173276    27
173277    30
Name: name, Length: 173278, dtype: int64

In [56]:
df['name'].str.len().max()

582

In [58]:
df['name'].str.len().argmax() # returns index

72854

In [59]:
df.iloc[df['name'].str.len().argmax()]

_id                                {'$oid': '5169f33696cc624c54381d16'}
name                  Recipe Flash: Seared Chicken with Cherry Tomat...
ingredients           2 tablespoons unsalted butter\n\n1 pound bonel...
url                   http://www.biggirlssmallkitchen.com/2011/08/re...
image                                                              None
ts                                             {'$date': 1365898038938}
cookTime                                                            NaN
source                                             biggirlssmallkitchen
recipeYield           Makes 2 servingsSummer Fest is a season long, ...
datePublished                                                2011-08-31
prepTime                                                            NaN
description                                                         NaN
totalTime                                                           NaN
creator                                                             NaN
recipeCategory                                                      NaN
dateModified                                                        NaN
recipeInstructions                                                  NaN
Name: 72854, dtype: object

In [60]:
df.iloc[df['name'].str.len().argmax()]['name']

'Recipe Flash: Seared Chicken with Cherry Tomato Pan SauceSeared Chicken Breasts with Cherry Tomato Pan Sauce and Fresh MozzarellaBig Girls Small Kitchen: Haute Apple Pie:What’s Gaby Cooking:Zaika Zabardast:And Love It Too:Chez Us:Daily*Dishin:Glory Foods:Dishin and Dishes:The Purple Cook:I Am Mommy:Cooking With My Kid:FN Dish:Add a Pinch:Sweet Life Bake:Virtually Homemade:Dixie Chik Cooks:The Sensitive Epicure: Mooshu Jenne:Napa Farmhouse 1885:Cooking With Elise:From My Corner of Saratoga:Fritos and Foie Gras:Creative Culinary: Big Apple Nosh:Spices and Aroma:Zaika Zabardast:'

In [61]:
df['name'].iloc[df['name'].str.len().argmax()]

'Recipe Flash: Seared Chicken with Cherry Tomato Pan SauceSeared Chicken Breasts with Cherry Tomato Pan Sauce and Fresh MozzarellaBig Girls Small Kitchen: Haute Apple Pie:What’s Gaby Cooking:Zaika Zabardast:And Love It Too:Chez Us:Daily*Dishin:Glory Foods:Dishin and Dishes:The Purple Cook:I Am Mommy:Cooking With My Kid:FN Dish:Add a Pinch:Sweet Life Bake:Virtually Homemade:Dixie Chik Cooks:The Sensitive Epicure: Mooshu Jenne:Napa Farmhouse 1885:Cooking With Elise:From My Corner of Saratoga:Fritos and Foie Gras:Creative Culinary: Big Apple Nosh:Spices and Aroma:Zaika Zabardast:'

In [62]:
df['name'].iloc[df['name'].str.len().argmin()]

'CB'

In [63]:
df['description'].str.match('[bB]reakfast')

0         False
1         False
2         False
3         False
4         False
          ...
173273    False
173274    False
173275      NaN
173276      NaN
173277    False
Name: description, Length: 173278, dtype: object

In [65]:
df['description'].str.match('[bB]reakfast').sum()
# match method only determines if the string starts with a match of regular expression

27

In [66]:
df['description'].str.contains('[bB]reakfast').sum()

3524

### recipe recommender

In [68]:
import re
df[df['ingredients'].str.contains('strawberry', re.IGNORECASE)]

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
55,{'$oid': '516075ef96cc6208ac7c9d44'},Simple Strawberry Smoothies,3 cups frozen strawberries\n1 1/2 cups milk (a...,http://www.aspicyperspective.com/2011/06/simpl...,http://www.aspicyperspective.com/wp-content/up...,{'$date': 1365276143481},NaN,aspicyperspective,4 cups,NaN,PT5M,NaN,NaN,NaN,NaN,NaN,NaN
96,{'$oid': '5160761596cc6208ac7c9d4e'},Chocolate Bark Recipe for Valentines Day,14 oz. red candy melts\n1 cup pink candy melts...,http://www.aspicyperspective.com/2013/02/choco...,http://www.aspicyperspective.com/wp-content/up...,{'$date': 1365276181883},PT8M,aspicyperspective,15 servings,NaN,PT20M,NaN,NaN,NaN,NaN,NaN,NaN
702,{'$oid': '516077d096cc6208ac7c9dd1'},Strawberry Malt Cheesecakes ~ Cook for the Cure,"36 Vanilla Wafers\n24 oz. cream cheese, soften...",http://www.aspicyperspective.com/2011/07/straw...,http://www.aspicyperspective.com/wp-content/up...,{'$date': 1365276624664},None,aspicyperspective,36 mini cheesecakes,NaN,PT20M,NaN,NaN,NaN,NaN,NaN,NaN
1057,{'$oid': '516078d796cc6208c1793557'},Scones with strawberry jam and clotted cream,500g/1lb 2oz self-raising flour\n100g/3½oz but...,http://www.bbc.co.uk/food/recipes/sconeswithst...,None,{'$date': 1365276887486},PT30M,bbcfood,Makes 6 large scones,NaN,PT30M,None,NaN,NaN,NaN,NaN,NaN
1062,{'$oid': '516078dc96cc6208c1793558'},Medjool date and walnut scones,500g/1lb 2oz self-raising flour\n100g/3½oz but...,http://www.bbc.co.uk/food/recipes/medjool_date...,None,{'$date': 1365276892039},PT30M,bbcfood,Makes 6 large scones,NaN,PT30M,"Exceptionally large, sweet Medjool dates are c...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171068,{'$oid': '54bc4e8e96cc626e2cb0d38b'},Chocolate Buttermilk Cupcakes with Strawberry ...,For the Chocolate Buttermilk Cupcakes:\n1 ¼ cu...,http://www.aspicyperspective.com/2010/02/valen...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAA...",{'$date': 1421627022115},NaN,aspicyperspective,20-24 cupcakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171502,{'$oid': '54cec60996cc6224e77dbbcd'},Strawberry French toast with orange yoghurt re...,4 heaped tbsps low-sugar strawberry jam\n8 thi...,http://www.lovefood.com/guide/recipes/46193/st...,/images/content/body/French toast landscape re...,{'$date': 1422837257770},PT10M,lovefood,4 people,NaN,PT10M,A healthier twist on the indulgent breakfast d...,NaN,NaN,NaN,NaN,NaN
172497,{'$oid': '54fce6aa96cc620823178bdb'},Easy chocolate traybake,50g/1¾oz cocoa powder\n6 tbsp boiling water\n1...,http://www.bbc.co.uk/food/recipes/easy_chocola...,NaN,{'$date': 1425860266436},PT1H,bbcfood,Makes 20 slices,NaN,PT30M,Chris Moyles' traybake takes inspiration from ...,NaN,NaN,NaN,NaN,NaN
172688,{'$oid': '5506324d96cc62067f2bb6e0'},How to make jam roly poly,"50 butter, cold and diced\ng self-raising flou...",http://www.lovefood.com/guide/recipes/22114/ho...,NaN,{'$date': 1426469453752},PT1H,lovefood,6 people,NaN,PT25M,Charlotte Morgan shows us how to make an old-f...,NaN,NaN,NaN,NaN,NaN
173100,{'$oid': '5518b19f96cc623163fe1512'},Frozen strawberry tartlets with vanilla whippe...,450g/14oz strawberries\n1 tsp stevia powder\nd...,http://www.bbc.co.uk/food/recipes/frozen_straw...,NaN,{'$date': 1427681695276},NaN,bbcfood,Serves 4,NaN,NaN,A new dish is always an exciting and rewarding...,NaN,NaN,NaN,NaN,NaN

In [69]:
x = df['ingredients'].str
df[x.contains('strawberry', re.IGNORECASE) & x.contains('milk', re.IGNORECASE)]

,_id,name,ingredients,url,image,ts,cookTime,source,recipeYield,datePublished,prepTime,description,totalTime,creator,recipeCategory,dateModified,recipeInstructions
55,{'$oid': '516075ef96cc6208ac7c9d44'},Simple Strawberry Smoothies,3 cups frozen strawberries\n1 1/2 cups milk (a...,http://www.aspicyperspective.com/2011/06/simpl...,http://www.aspicyperspective.com/wp-content/up...,{'$date': 1365276143481},NaN,aspicyperspective,4 cups,NaN,PT5M,NaN,NaN,NaN,NaN,NaN,NaN
702,{'$oid': '516077d096cc6208ac7c9dd1'},Strawberry Malt Cheesecakes ~ Cook for the Cure,"36 Vanilla Wafers\n24 oz. cream cheese, soften...",http://www.aspicyperspective.com/2011/07/straw...,http://www.aspicyperspective.com/wp-content/up...,{'$date': 1365276624664},None,aspicyperspective,36 mini cheesecakes,NaN,PT20M,NaN,NaN,NaN,NaN,NaN,NaN
1057,{'$oid': '516078d796cc6208c1793557'},Scones with strawberry jam and clotted cream,500g/1lb 2oz self-raising flour\n100g/3½oz but...,http://www.bbc.co.uk/food/recipes/sconeswithst...,None,{'$date': 1365276887486},PT30M,bbcfood,Makes 6 large scones,NaN,PT30M,None,NaN,NaN,NaN,NaN,NaN
1062,{'$oid': '516078dc96cc6208c1793558'},Medjool date and walnut scones,500g/1lb 2oz self-raising flour\n100g/3½oz but...,http://www.bbc.co.uk/food/recipes/medjool_date...,None,{'$date': 1365276892039},PT30M,bbcfood,Makes 6 large scones,NaN,PT30M,"Exceptionally large, sweet Medjool dates are c...",NaN,NaN,NaN,NaN,NaN
1390,{'$oid': '516079d896cc6208c8a9277c'},Rose Chrusciki made by Felecia Recipe,1 stick of butter\n1 1/2 cups of milk\n12 cups...,http://www.chow.com/users/recipes/18662-rose-c...,None,{'$date': 1365277144137},None,chow,7 - 8 dozen,NaN,PT0H0M,"Chrusciki (pronounced kris-chick-e), is a Poli...",NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170861,{'$oid': '54b323f496cc6237c2b8eca2'},Iced fingers,500g/1lb 2oz strong white flour\n50g/1¾oz cast...,http://www.bbc.co.uk/food/recipes/iced_fingers...,http://ichef.bbci.co.uk/food/ic/food_16x9_448/...,{'$date': 1421026292861},PT2H,bbcfood,Makes 12 buns,NaN,PT2H,Paul Hollywood's sticky iced fingers make wond...,NaN,NaN,NaN,NaN,NaN
171068,{'$oid': '54bc4e8e96cc626e2cb0d38b'},Chocolate Buttermilk Cupcakes with Strawberry ...,For the Chocolate Buttermilk Cupcakes:\n1 ¼ cu...,http://www.aspicyperspective.com/2010/02/valen...,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAA...",{'$date': 1421627022115},NaN,aspicyperspective,20-24 cupcakes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171502,{'$oid': '54cec60996cc6224e77dbbcd'},Strawberry French toast with orange yoghurt re...,4 heaped tbsps low-sugar strawberry jam\n8 thi...,http://www.lovefood.com/guide/recipes/46193/st...,/images/content/body/French toast landscape re...,{'$date': 1422837257770},PT10M,lovefood,4 people,NaN,PT10M,A healthier twist on the indulgent breakfast d...,NaN,NaN,NaN,NaN,NaN
172497,{'$oid': '54fce6aa96cc620823178bdb'},Easy chocolate traybake,50g/1¾oz cocoa powder\n6 tbsp boiling water\n1...,http://www.bbc.co.uk/food/recipes/easy_chocola...,NaN,{'$date': 1425860266436},PT1H,bbcfood,Makes 20 slices,NaN,PT30M,Chris Moyles' traybake takes inspiration from ...,NaN,NaN,NaN,NaN,NaN
172688,{'$oid': '5506324d96cc62067f2bb6e0'},How to make jam roly poly,"50 butter, cold and diced\ng self-raising flou...",http://www.lovefood.com/guide/recipes/22114/ho...,NaN,{'$date': 1426469453752},PT1H,lovefood,6 people,NaN,PT25M,Charlotte Morgan shows us how to make an old-f...,NaN,NaN,NaN,NaN,NaN